<!DOCTYPE html>
<html>
<head>
	<title>@ViewBag.Title</title>
	<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
	@RenderSection("Head", false)
</head>
<body>
	@RenderBody()
</body>
</html>
