<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>
	<connectionStrings>
		<add name="Default"
			  connectionString="data source=127.0.0.1;user id=aspnet_user;password=secret_password;database=membership;"
			  providerName="MySql.Data.MySqlClient" />
	</connectionStrings>

	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
				<add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
			</assemblies>
		</compilation>

		<authentication mode="Forms">
			<forms
			  loginUrl="~/Account/Logon"
			  timeout="30"
			  name="6ad58f32-93d5-463f-9d99-835942aca8f5"
			  path="/"
			  requireSSL="false"
			  slidingExpiration="true"
			  defaultUrl="Default.aspx"
			  enableCrossAppRedirects="false"/>
		</authentication>

		<!--NOTE that "hashed" isn't supported with the public release of MySql.Web 6.3.5 under
		Mono runtime. But I can't bring myself to share sample code that doesn't hash the 
		passwords by default. ;) The version included with this sample project is slightly modified to 
		allow hashed passwords in Mono. I highly recommend checking out the latest version of 
		MySql .NET Connector. http://dev.mysql.com   
		
		Also, I found that you have to rebuild MySql.Data and MySql.Web 
		using .NET 4.0 profile if you want it to work with Asp.Net 4.0 under Mono. This is a known bug and should 
		be published in upcoming versions of the connector. --> 
		<membership defaultProvider="MySqlMembershipProvider">
			<providers>
				<clear/>
				<add name="MySqlMembershipProvider"
						type="MySql.Web.Security.MySQLMembershipProvider, mysql.web"
						  connectionStringName="Default"
						  enablePasswordRetrieval="false"
						  enablePasswordReset="true"
						  requiresQuestionAndAnswer="false"
						  requiresUniqueEmail="true"
						  passwordFormat="hashed" 
						  maxInvalidPasswordAttempts="5"
						  minRequiredPasswordLength="6"
						  minRequiredNonalphanumericCharacters="0"
						  passwordAttemptWindow="10"
						  applicationName="/"
						  autogenerateschema="true"/>
			</providers>
		</membership>

		<roleManager enabled="true" defaultProvider="MySqlRoleProvider">
			<providers>
				<clear />
				<add connectionStringName="Default"
					 applicationName="/"
					 name="MySqlRoleProvider"
					 type="MySql.Web.Security.MySQLRoleProvider, mysql.web"
					 autogenerateschema="true"/>
			</providers>
		</roleManager>

		<profile>
			<providers>
				<clear/>
				<add type="MySql.Web.Security.MySqlProfileProvider, mysql.web"
						name="MySqlProfileProvider"
						applicationName="/"
						connectionStringName="Default"
						autogenerateschema="true"/>
			</providers>
		</profile>

		<pages>
			<namespaces>
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
			</namespaces>
		</pages>

		<!--Don't forget to update this... I left it open to make it easier to debug.--> 
		<customErrors mode="Off"/>
	</system.web>

	<system.data>
		<DbProviderFactories>
			<clear/>
			<add name="MySQL Data Provider"
				  description="ADO.Net driver for MySQL"
				  invariant="MySql.Data.MySqlClient"
				  type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>
		</DbProviderFactories>
	</system.data>

	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>

	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>

