<?xml version="1.0"?>
<configuration>
	<!--<configSections>
		<section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
	</configSections>-->
	
	<!--optional app.config for unity-->
	<!--<unity>
		<typeAliases>
			<typeAlias alias="AppService" type="SubSonicDemo.AppService, SubSonicDemo"/>
			<typeAlias alias="LinqAppService" type="SubSonicDemo.LinqAppService, SubSonicDemo"/>
			<typeAlias alias="LinqRepository" type="SubSonicDemo.LinqRepository, SubSonicDemo"/>
			<typeAlias alias="SS3LinqRepository" type="SubSonicDemo.SS3LinqRepository, SubSonicDemo"/>
			<typeAlias alias="MockLinqRepository" type="SubSonicDemo.MockLinqRepository, SubSonicDemo"/>
			<typeAlias alias="MockAppService" type="SubSonicDemo.Repository.MockAppService, SubSonicDemo"/>
		</typeAliases>
 		<containers>
			<container>
				<types>
					<type type="AppService" mapTo="LinqAppService"/>
					<type type="LinqRepository" mapTo="SS3LinqRepository"/>
				</types>
			</container>
		</containers>
	</unity>-->

	<connectionStrings>
		<clear/>
		<add name="Sqlite" providerName="System.Data.SQLite" connectionString="Data Source=data.db3;"/>
		<add name="MySql" providerName="MySql.Data.MySqlClient" connectionString="Data Source=localhost;Database=SubSonicDemo;User id=user;password=pass;"/>
		<add name="MSSql" providerName="System.Data.SqlClient" connectionString="Data Source=localhost;initial catalog=SubSonicDemo;Integrated Security=true;"/>
	</connectionStrings>
	
	<appSettings>
		<add key="DefaultConnectionStringName" value="Sqlite"/>
		<add key="RunMigrations" value="True"/>
	</appSettings>
	
	<system.data>
		<DbProviderFactories>
			<clear/>
			<add name="SQLite Data Provider"
				  invariant="System.Data.SQLite"
				  description=".Net Framework Data Provider for SQLite"
				  type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite"/>

			<add name="MySQL Data Provider"
				  description="ADO.Net driver for MySQL"
				  invariant="MySql.Data.MySqlClient"
				  type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data"/>

			<add name="MSSQL Data Provider"
				  description="ADO.Net driver for MSSQL"
				  invariant="System.Data.SqlClient"
				  type="System.Data.SqlClient.SqlClientFactory, System.Data"/>
		</DbProviderFactories>
	</system.data>
</configuration>
